@import 'variables';
@import 'layout';



/*** MIXINS ***/


@mixin theme($light-theme:true) {
    @if $light-theme {
        background-color: lighten($bg-color, 100%); // invert the color
        color: darken($text-color, 100%);
    }

    @else {
        background-color: darken($bg-color, 100%);
        color: lighten($text-color, 100%);
    }
}

@mixin bodyStyle {
    font-weight: weight(regular);
    overflow-y: auto;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

@mixin mobile {
    @media(max-width:$mobile-width) {
        @content;
    }
}

@mixin bgCover($bg-image) {
    background-image: url($bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*** FUNCTIONS ***/


@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}



/*** UTILS ***/


a {
    text-decoration: none;
    outline: none;
}


.info-window {
    position: fixed;
    top: 30%;
    left: 50%;
    padding: 15px;
    font-size: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    transform: scale(1.1);
    z-index: 100000;
    opacity: 0;
    transition: visibility 0s linear 0.25s, opacity 0.25s linear 0s, transform 0.25s;
}

.show-info {
    opacity: 1 !important;
    visibility: visible !important;
    display: inline !important;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1000;
}


.success {
    background-color: #90EE90 !important;
}

.error {
    background-color: #ffcccb !important;
}
