@mixin flexCenter($direction:row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;

}

@mixin mainContainer {
    min-height: 95%
}

.container {
    zoom: 1;
}

.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

html {
    height: 100%;
    width: 100%;
}
