.profile_photo_url {

    width: 150px;
    height: auto;
    margin-left: 50px;
    position: relative;
    bottom: 15px;

}

.profile {
    position: fixed;
    z-index: 5;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
}


// .text-profile {

//     max-width: 200px !important;
// }

.description {


    max-width: 600px !important;
    word-wrap: break-word;

}

.gear {
    width: 50px;
    height: auto;
    cursor: pointer;
    transition: color 0.5s ease;
}

.gear:hover {

    width: 55px;
    height: auto;
}
