/* colors */

$bg-color: #fafafa;
$text-color: #000000;
$accent-color:#FFA500;

$facebook-blue:#385185;


/* font weights */

$font-weights:("light":250,
    "regular":400,
    "medium":500,
    "bold":700);

$mobile-width:800px;
