@import 'components';
@import 'layout';
@import 'variables';


.welcome-buttons-wrapper {
    display: flex;
}

body {
    @include bodyStyle();
    background-color: $bg-color;
}


.main {
    @include flexCenter(column);

    .post {
        margin: 40px 0;
        background-color: white;
        border: 2px solid #dbdbdb;
        width: 700px;

        a {
            color: #00376B;
        }

        .header {
            height: 50px;

            .wrapper {
                display: flex;
                margin: 10px;
                font-weight: weight(bold);

                .post-profile1 {
                    margin-right: 5px;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    @include bgCover("/images/nasa-logo.png");
                }

                .post-profile2 {
                    @extend .post-profile1;
                    @include bgCover("/images/spacex-icon.jpg");
                }

                .name-profile {
                    margin-top: 5px;
                }
            }
        }

        .image1 {
            width: 100%;
            height: 800px;
            @include bgCover("/images/Ngc346_HubbleSchmidt_960.jpg");
        }

        .image2 {
            width: 100%;
            height: 800px;
            @include bgCover("/images/spacex_astronauts.jpg");
        }

        .footer {
            min-height: 50px;
            background-color: white;
            margin: 15px 20px;

            .post-options {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;

                .main-options * {
                    margin-right: 10px;
                }
            }

            .liked-by {
                .profile-pic {

                    margin-right: 10px;
                }

                display: flex;
                justify-content: flex-start;
                margin-bottom: 10px;

                .iconify {
                    width: 25px;
                    height: 25px;
                }
            }
        }

        .comment {
            display: flex;
            justify-content: space-between;

            .like {
                width: 15px;
                height: 15px;
                margin: auto 0;
            }
        }

        .posted {
            color: #8e8e8e;
        }
    }
}

.profile-pic {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
